.button {
    border-radius: 5px;
    border: 1px solid transparent;
    padding: 0.3em 0.6em;
    height: fit-content;
    width: fit-content;
    text-align: center;
    font-size: 1em;
    font-weight: 500;
    cursor: pointer;
    transition: border-color 0.25s;
  }

.button:hover {
    border-color: #646cff;
}

.black {
    background-color: #1a1a1a;
    color: white;
}

.white {
    background-color: white;
    color: black;
}